<section class="advice">
  <div class="advice-box">
    <h2 class="advice-head">
      ADVICE <span>#{{ adviceData?.slip?.id }}</span>
    </h2>
    <p class="advice-text">&quot;{{ adviceData?.slip?.advice }} &quot;</p>

    <div class="divider">
      <img
        class="divider-img"
        src="../assets/images/pattern-divider-desktop.svg"
        alt=""
      />
    </div>

    <div class="dice" (click)="getAdvice()">
      <img class="dice-img" src="../assets/images/icon-dice.svg" alt="" />
    </div>
  </div>
</section>
